<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>S'inscrire</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        body {
            background: linear-gradient(to right, #4e73df, #b1c4fc);
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 110vh;
            margin-top: 30px;

        }

        .card {
            max-width: 400px;
            width: 100%;
        }
         .logo {
            width: 110px;
            margin-bottom: 20px;
        }
    </style>

</head>

<body>
    </div>
    <div class="text-center" style="margin-top: 10px;" > 
        {{#if message}}
            <div class="centered-message">
                <h4 class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span class="text">{{message}}</span>
                </h4>
            </div>
        {{/if}}
    </div>
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg">
            <div class="card-body p-0">
                <div class="p-5">
                  
                    <div class="text-center">
                        <img src="/img/ramsa.png" alt="Logo" class="logo">
                        <h1 class="h4 text-gray-900 mb-4">Créer un compte</h1>
                    </div>
                    <form class="user" action="/register" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="Prenom" name="Prenom"
                                    placeholder="Prenom">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="nom" name="nom"
                                    placeholder="Nom">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="Email" name="Email"
                                placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" id="Adress" name="adress"
                                placeholder="Adress">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="CIN" name="CIN"
                                    placeholder="CIN">
                            </div>
                            <div class="col-sm-6">
                                <input type="number" class="form-control form-control-user" id="Telephone" name="Telephone"
                                 placeholder="Telephone">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user" id="mot_de_passe" name="mot_de_passe"
                                    placeholder="Mot de passe">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user" id="mot_de_passe_confirme" name="mot_de_passe_confirme"
                                 placeholder="Confirmer Mot de Passe">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Register Account
                        </button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="/login">Vous avez déjà un compte? Se connecter!</a>
                    </div>
                </div>
            </div>
        </div>



    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
